---
layout: banner
title: Nullsec PVP Specialists
heading: Agony Unleashed
picture: agony-unleashed.png
---

{% include external_links.html %}

<p>{{ site.data.about.text.about }}</p>

<div id="home-buttons">
  {% include button-about.html %}
  {% include recruitment.html %}
</div>

<div id="home-info">
  {% if site.data.pvpu.course.display %}
    {% include roam.html class="pvpu" info=site.data.pvpu.course text=site.data.pvpu.text %}
  {% endif %}

  {% if site.data.npsi.roam.display %}
    {% include roam.html class="npsi" info=site.data.npsi.roam text=site.data.npsi.text %}
  {% endif %}
</div>
