---
layout: banner
title: Nullsec PVP Specialists
heading: Agony Unleashed
picture: agony-unleashed.png
banner: agony-unleashed-banner
---

{% include external_links.html %}

<p>{{ site.data.about.text.about }}</p>

<a class="about icon {{ site.data.about.icon }}"
   href="{{ site.baseurl }}/about/">
  {{ site.data.about.text.link }}
</a>
{% include recruitment.html %}

{% if site.data.pvpu.course.display %}
  {% include roam.html class="pvpu" info=site.data.pvpu.course text=site.data.pvpu.text %}
{% endif %}

{% if site.data.npsi.roam.display %}
  {% include roam.html class="npsi" info=site.data.npsi.roam text=site.data.npsi.text %}
{% endif %}
