{% assign npsi = site.data.npsi %}
{% assign text = site.data.npsi.text %}

<section class="npsi">
  <h2>{{ text.header }}</h2>
  <h3>{{ npsi.roam.name }}
  <time datetime="{{ npsi.roam.date | date: "%Y-%m-%d %H:%M%z" }}">
    {{ npsi.roam.date | date: "%Y %b %e" }}
    <span class="fi-at-sign"></span>
    {{ npsi.roam.date | date: "%H:%M %Z" }}
  </time>
  </h3>

  <a class="icon {{ npsi.icon }}"
     href="{{ site.data.internal_links.forum.url }}/{{ site.data.internal_links.forum.paths.topic }}{{ npsi.roam.topic }}">
    {{ text.link }}
  </a>
</section>
