{% assign recruitment = site.data.recruitment %}
{% assign text = site.data.recruitment.text %}

<dl class="squadrons">
{% for squadron in recruitment.squadrons %}
  <dt class="icon {{ recruitment.icons.recruitment }}">
    {{ squadron[1].region }} {{ squadron[1].timezone | join: '-' }}
  </dt>
  <dd class="squadron-{{ squadron[1].open }} status icon
    {% if squadron[1].open %}{{ recruitment.icons.open }}{% else %}{{ recruitment.icons.closed }}{% endif %}">
    {{ squadron[0] | capitalize }}
    {{ text.recruitment }}
  {% if squadron[1].open %}
    {{ text.open }}
  {% else %}
    {{ text.closed }}
  {% endif %}
  </dd>
{% endfor %}
</dl>
