$retina: (
  "only screen and (-webkit-min-device-pixel-ratio: 2)",
  "only screen and (min--moz-device-pixel-ratio: 2)",
  "only screen and (-o-min-device-pixel-ratio: 2/1)",
  "only screen and (min-device-pixel-ratio: 2)",
  "only screen and (min-resolution: 192dpi)",
  "only screen and (min-resolution: 2dppx)"
);

// Generates a retina media query.
@function retina($query) {
  $queries: ();
  @each $q in $retina {
    $queries: $queries, "#{$q} and (#{$query})"
  }
  @return $queries
}

$social-colors: (
  facebook: #3b5998,
  google-plus: #df4a32,
  twitter: #00b6f1,
  youtube: #d32628,
);

$recruitment-status-colors: (
  true: $green,
  false: $red,
);

$banner-ratios: (
  ($small-up, 1.616),
  ($medium-up, 1.618),
  ($large-up, 1.618),
  ($xlarge-up, 2.591),
  ($xxlarge-up, 2.40),
  ($retina, 1.618),
  (retina("min-width:#{lower-bound($large-range)}"), 2.40),
  (retina("min-width:#{lower-bound($xlarge-range)}"), 3.2),
);

// Breakpoints.
$bp-thumb: (
  retina("min-width:#{lower-bound($medium-range)}"),
  "#{$screen} and (min-width: 36.563em)"
);

$bp-internal-links: (
  $medium-up
);

$bp-external-links: (
  $medium-up
);

$bp-info-boxes: (
  "#{$screen} and (min-width: 43.750em)"
);

$bp-button: (
  "#{$screen} and (min-width: 36.563em)"
);

$bp-button-pair: (
  "#{$screen} and (min-width: 36.563em)"
);

$bp-recruitment: (
  $large-up
);
