$retina: (
  "only screen and (-webkit-min-device-pixel-ratio: 2)",
  "only screen and (min--moz-device-pixel-ratio: 2)",
  "only screen and (-o-min-device-pixel-ratio: 2/1)",
  "only screen and (min-device-pixel-ratio: 2)",
  "only screen and (min-resolution: 192dpi)",
  "only screen and (min-resolution: 2dppx)"
);

$social-colors: (
  facebook: #3b5998,
  google-plus: #df4a32,
  twitter: #00b6f1,
  youtube: #d32628,
);

$recruitment-status-colors: (
  true: $green,
  false: $red,
);

$banner-ratios: (
  ($small-up, 1.616),
  ($medium-up, 1.618),
  ($large-up, 1.618),
  ($xlarge-up, 2.591),
  ($xxlarge-up, 2.40),
  ($retina, 3.2),
);

// Breakpoints.
$bp-thumb: (
  $large-up
);

$bp-internal-links: (
  $medium-up
);

$bp-external-links: (
  $medium-up
);

$bp-info-boxes: (
  $medium-up
);

$bp-button-pair: (
  $medium-up
);

$bp-recruitment: (
  $large-up
);
