=hover-glow($color, $attr: false)
  $transition: all 0.25s ease-in

  transition: $transition

  &:hover
    color: $color

    @if $attr
      #{$attr}
        transition: $transition
        color: $color

