// Consistent scrollbar across all pages.
html
  overflow-y: scroll

// Page title.
h1
  font-family: 'Audiowide', $font-family-serif
  text-transform: lowercase

// Social icon links.
@each $icon, $color in $social-colors
  a.icon.fi-social-#{$icon}
    color: $color
    +hover-glow(darken($color, 10%))

// Icon position.
.icon
  &::before
    margin-right: 1rem

// Thumbnails.
.thumb
  +thumb
  margin-top: 1rem
  margin-bottom: 1rem

  &.float
    @media #{$large-up}
      float: left
      margin-right: 1rem

// Lightbox loading style.
.featherlight-loading img
  display: block
  margin: auto

// Top banner.
header.banner
  // Set banner size while image is loading.
  img
    @each $media, $ratio in $banner-ratios
      @media #{$media}
        min-width: 100%
        min-height: 100vw / $ratio

  // Content below banner.
  .content
    +grid-row
    max-width: 100vw
    padding-left: 1rem

  // Internal header links.
  .internal-links ul
    margin-left: 0
    list-style: none
    font-size: $internal-link-font-size
    text-transform: capitalize

    @media #{$small-only}
      margin-top: 1rem

    @media #{$screen} and (min-width: 33.75em) and (max-width: #{upper-bound($small-range)})
      +inline-list
      +grid-column(12)
      margin-top: 1rem
      padding-left: 0

    @media #{$medium-up}
      +inline-list
      +grid-column(8)
      font-size: $internal-link-font-size-medium-up

    @media #{$large-up}
      font-size: $internal-link-font-size-large-up

    a
      +hover-glow($brown)

  // External header links.
  .external-links ul
    +inline-list
    font-size: $external-link-font-size

    @media #{$small-only}
      display: none

    @media #{$medium-up}
      +grid-column(4)
      font-size: $external-link-font-size-medium-up

      a::before
        vertical-align: top

    @media #{$large-up}
      font-size: $external-link-font-size-large-up

    .icon
      &::before
        margin-right: 0

// Primary page content.
article.content
  +grid-row
  padding-left: 1rem
  padding-right: 1rem

  @media #{$medium-up}
    max-width: 50em
    padding-left: 2rem
    padding-right: 2rem

  @media #{$large-up}
    padding-left: 0
    padding-right: 0

  // Link style within content.
  p > a,
  ol li > a
    border-bottom: 1px $jet dotted

  // External links as content on homepage.
  .external-links ul
    +inline-list
    font-size: $external-link-font-size

    @media #{$medium-up}
      display: none

// Recruitment button.
.recruitment
  @each $status, $color in $recruitment-status-colors
    &.recruitment-#{$status}
      +button($bg: $color)
      +hover-glow($snow, a)
      color: $jet
      font-size: $status-button-font-size

// About button.
.about
  +button($bg: $blue)
  text-transform: capitalize
  font-size: $status-button-font-size

// PVP-U and NPSI boxes.
.pvpu,
.npsi
  margin-top: 2rem
  padding-left: 0

  h2,
  h3
    text-transform: capitalize

  a
    +button-hover-glow
    font-size: $status-button-font-size
    text-transform: capitalize

  time
    display: block

  @media #{$large-up}
    +grid-column(6)
    padding-left: 0

// Squadron status.
.squadrons
  margin-left: 0
  text-transform: capitalize

  @each $status, $color in $recruitment-status-colors
    .squadron-#{$status}.status
      color: darken($color, 20%)

// List of recruiters.
.recruiters
  a
    border-bottom: 1px $jet dotted

// Common button style.
.apply,
.faq,
.application-button
  +button-hover-glow
  text-transform: capitalize
  font-size: $status-button-font-size

  @media #{$medium-up}
    display: inline-block

// Common button styles.
.about,
.recruitment,
.faq,
.apply,
.application-button,
.pvpu a,
.npsi a
  @media #{$small-only}
    width: 100%

// Recruitment FAQ page.
#recruitment-faq
  @media #{$large-up}
    #squadrons
      +grid-column(6)

    #recruiters
      +grid-column(6)
