@each $icon, $color in $social-colors
  a.icon.fi-social-#{$icon}
    color: $color

header.banner
  > div
    +grid-row
    max-width: 100vw
    padding-left: 1rem

.internal-links ul
  list-style: none
  font-size: $internal-link-font-size

  @media #{$medium-up}
    +inline-list
    +grid-column(8)
    font-size: $internal-link-font-size-medium-up

  @media #{$large-up}
    font-size: $internal-link-font-size-large-up

  a::before
    margin-right: 1rem

.external-links ul
  +inline-list
  font-size: $external-link-font-size

  @media #{$medium-up}
    +grid-column(4)
    font-size: $external-link-font-size-medium-up

    a::before
      vertical-align: top

  @media #{$large-up}
    font-size: $external-link-font-size-large-up

.recruitment
  h2
    font-size: $recruitment-status-font-size

  @each $status, $color in $recruitment-status-colors
    .recruitment-#{$status}
      color: $color
