---
layout: default
---

<header class="banner">
  <a href="{{ site.baseurl }}/">
    {% picture banner agony-unleashed-banner-large.jpg source_retina: agony-unleashed-banner-retina.jpg source_xxlarge: agony-unleashed-banner-xxlarge.jpg source_xlarge: agony-unleashed-banner-xlarge.jpg source_large: agony-unleashed-banner-large.jpg source_medium: agony-unleashed-banner-medium.jpg source_default: agony-unleashed-banner-small.jpg alt="Agony Unleashed" %}
  </a>
  <div>
    {% include internal_links.html %}
    {% include external_links.html %}
  </div>
</header>

<article class="content" {% if page.id %} id="{{ page.id }}"{% endif %}>
  <header>
    <h1>{{ page.heading }}</h1>
  </header>

  <section>
    {{ content }}
  </section>
</article>

<footer>
  {% include social-buttons.html %}
</footer>
