---
layout: default
banner: agony-unleashed-banner
---

<header class="banner">
  <a href="{{ site.baseurl }}/">
  {% picture banner {{ page.banner }}-large.jpg source_retina: {{ page.banner }}-retina.jpg source_xxlarge: {{ page.banner }}-xxlarge.jpg source_xlarge: {{ page.banner }}-xlarge.jpg source_large: {{ page.banner }}-large.jpg source_medium: {{ page.banner }}-medium.jpg source_default: {{ page.banner }}-small.jpg alt="Agony Unleashed" %}
  </a>
  <div class="content">
    {% include internal_links.html %}
    {% include external_links.html %}
  </div>
</header>

<article class="content" {% if page.id %} id="{{ page.id }}"{% endif %}>
  <header>
    <h1>{{ page.heading }}</h1>
  </header>

  <section>
    {{ content }}
  </section>
</article>

<footer>
  {% include social-buttons.html %}
</footer>
